:root {
	--color-neutral:#365DF0;
	--color-neutral-dark:#2F55CC;
	--color-neutral-darker:#244AA8;
	--color-neutral-lighter:#B9C6FA;
	--color-neutral-lightest:#CAD6FC;
	--color-neutral-mostlightest:#E1E7FD;

	--color-danger: #F95E5A;
	--color-danger-dark:#CC4C4C;
	--color-danger-darker:#A53F3F;
	--color-danger-lighter:#FCAEAC;
	--color-danger-lightest:#FCD7D6;
	--color-danger-mostlightest:#FEEFEE;

	--color-success: #0DCB7D;
	--color-success-dark:#10B26C;
	--color-success-darker:#0E995D;
	--color-success-lighter:#88EDC4;
	--color-success-lightest:#CFF9E6;
	--color-success-mostlightest:#E7FBF3
};