
.elevation1 {
	box-shadow: var(--shadow-color) 0 5px 7px;
}

.elevation2 {
	box-shadow: var(--shadow-color) 0 10px 10px;
}

.elevation3 {
	box-shadow: var(--shadow-color) 0 15px 20px;
}

.elevation4 {
	box-shadow: var(--shadow-color) 0 20px 25px;
}

