@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,600&display=swap');
@import 'assets/scss/colors.scss';

:root {
	--fontSize: 20px;
	--errorColor:#F95E5A;
	--bgErrorColor:#feefee;
	--inputBorderRadius: 5px;
	--color:#170C3A;
	--color_lightInk: #8F8A9B;
	--borderColor:#EBEAED;
	--bgColor:#F5F4F6;
}

body {
	color:var(--color);	
	font: 400 var(--fontSize) 'Source Sans Pro', sans-serif;
}

input, textarea {
	--bgColor:#F5F4F6;
	--borderColor:#EBEAED;
	color:var(--color);	

	background-color: var(--bgColor);
	border: 1px solid var(--borderColor);
	border-radius: var(--inputBorderRadius);
	padding: .5em .9em;
	box-sizing: border-box;
	width: calc(100%);
	transition: .3s border, .3s background-color;
}

textarea {
	height: 7em;
}

label {
	// font-family: 'PT Mono', monospace;
	font-weight: semi-bold;
	font-weight: 600;
}

.align-right {
	text-align: right;
}