@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,600&display=swap');
@import 'assets/scss/colors.scss';

:root {
	--fontSize: 16px;
	--errorColor:#F95E5A;
	--bgErrorColor:#feefee;
	--borderRadius: 5px;
	--color:#170C3A;
	--color_lightInk: #8F8A9B;
	--borderColor:#EBEAED;
	--bgColor:#F5F4F6;


}

* {
	color:var(--color);	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: var(--fontSize);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #FCFCFD
}

.main {
	flex: 1;
}

.align-right {
	text-align: right;
}

.content {
	max-width: calc(960px - 1em);
	padding: 1em;
	margin: 0 auto;
}

@import 'assets/scss/button.scss';
@import 'assets/scss/typography.scss';
@import 'assets/scss/inputs.scss';
@import 'assets/scss/card.scss';
@import 'assets/scss/elevation.scss';